<div class="container-fluid">
    <div class="row bg-light">
      <div class="col-sm-6 bg-light border-light">
        <img src="../../assets/images/logo001.jpg" alt="activityRoute" width="100%">
      </div>
      <div class="col-sm-6 bg-light border-light">
        <p>Dette er aktivitets guiden for naturoplevelser i Danmark.</p>
        </div>
        <div class="col-sm-12"><hr></div>
      <div class="col-sm-6 border border-light bg-primary" style="padding: 2px">
          <div style="text-align: center;">
              <span class="badge"><img src="../../assets/images/activityrouteSymbol.png" width="50px" height="50px" alt="activityRoute"></span>
              <button class="btn btn-default" onclick="window.location.href='/routes'">Ruter</button>
          </div>
      </div>
      <div class="col-sm-6 border border-light bg-primary" style="padding: 2px">
        <div style="text-align: center;">
          <span class="badge"><img src="../../assets/images/activityrouteSymbol.png" width="50px" height="50px" alt="activityRoute"></span>
          <button class="btn btn-default" onclick="window.location.href='/newRoute'">Tilføj ruter</button>
        </div>
      </div>
  </div>




